google
google_auth_oauthlib
ipython
protobuf
pydantic
openapi_schema_pydantic
pyvis
replicate
streamlit==1.34.0
tiktoken
transformers
youtube_search_python
langchain
langchain_community
langchain_core
langchain_openai
google_api_core
google_auth
google_auth_oauthlib
google_api_python_client
wikipedia
wikipedia_api
selenium
webdriver-manager
pymongo
pypdf
pypdf2
langchain_mongodb
langchain_google_community